// add gaps to the row component from Bootstrap
@gap: 10px;
.row {
	padding-bottom: @gap;
	padding-top: @gap;
  margin-bottom: @gap;
  margin-top: @gap;
}

// add spacing betweem iputs
input {
  margin-left: 5px;
  margin-right: @gap;
}

// background for containers
.optContainer{
  border-radius: 15px;
  border: #888888 solid;
  background: linear-gradient(darkgray, #888888);
}

// item list style
.item{
  border: solid cadetblue;
  border-radius: 15px;
}

// keep each item at same height
.maxHeight {
	overflow: hidden;
  height: 100px;
}
